<div class="episodes">
  <div class="container">
    <div class="col-md-12">
      <h1>Episodes</h1>
    </div>

      <div class="col-md-9">

        <div class="episode-panel" *ngFor="let episode of epsisodes">
          <div class="panel panel-default">
            <div class="panel-heading">
              Episode #{{ episode.id }}
              <small class="pull-right">{{ episode.date | date : 'longDate' }}</small>
            </div>
            <div class="panel-body">
              <div class="col-md-4">
                <img src="{{ episode.image }}">
              </div>
              <div class="col-md-8">
                <div>
                  <h3>{{ episode.title }}</h3>
                </div>
                <div class="episode-desc">
                  {{ episode.description }}
                </div>
                <audio controls>
                  <source src="{{ episode.location }}" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>

      </div>


  </div>

</div>
